{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h2>{{ title }}</h2>
    <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
        {{ form.hidden_tag() }} {# CSRF token #}
        <div class="mb-3">
            {{ render_field(form.username, class_arg="form-control") }}
        </div>
        <div class="mb-3">
            {{ render_field(form.email, class_arg="form-control") }}
        </div>
        <div class="mb-3">
            {{ render_field(form.password, class_arg="form-control") }}
        </div>
        <div class="mb-3">
            {{ render_field(form.password2, class_arg="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Già registrato? <a href="{{ url_for('auth.login') }}">Effettua il login!</a></p>
{% endblock %}